@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:ital,wght@0,100;0,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Mukta:wght@300&family=Nunito:wght@300&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Mukta:wght@300&family=Mulish:ital,wght@0,200;1,200&family=Nunito:wght@300&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Mukta:wght@300&family=Mulish:ital,wght@0,200;1,200&family=Nunito:wght@300&family=Oswald:wght@400;500&family=Poppins:wght@200&family=Roboto:ital,wght@0,100;0,300;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@200;300;400&display=swap');
@font-face{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: lato;
}
header{
    display: flex;
    justify-content: space-between;

    background-color:#4330a5d8;
    width: 100%;

}
img{
    gap: 20px;
}
h1{
    width: 100%;
    justify-content: left;
    color:wheat;
}

.navbar .nav1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav1{
    width: 100%;
    border-right: 400px;
    gap: 10px;
}
.nav1 li a{
    color: aliceblue;
    
}
.main-index1{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.main-index1 h2{
    width: 100%;
    text-align: center;
    gap: 20%;
}
.hero{
    width: 100%;
}
.hero p {
    position: absolute;
    width: 40%;
    margin-left: 5%;
    padding-top: 5%;
    text-align: center;
    font-size:20px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hero img{
    
    display: flex;
    float: right;
    margin-right: 100px;
    
}
.div2 {
    width: 100%;
}
.div2 h3{
    width: 100%;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.div2 p{
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-family: 'Work Sans', sans-serif;
}

/* empieza el segundo html */

.main-service{
    width: 100%;
    height: 500px;
    gap: 50px;
}
.main-service h1{
    text-align: center;
    color: crimson;
}

.info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.info h2{
    text-align: center;
}
.info-card-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}
.info-card{
    width: 300px;
    height: 290px;
    padding: 40px 30px;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    background-color: #4430a579;
    border: 2px solid #4430a579;
    border-radius: 6px;
}
.info a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    color: #171818;
    border: 1px solid #0a0a0a;
    border-radius: 4px;
    transition: all 400ms ease;
}
.footer{
    width: 100%;
    height: 40px;
    display: flex;
    gap: 20px;
    padding: 60px;
    background-color: #4430a579;
    
}

/* empieza el tercer html */
.contactos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 500px;
}
.contactos h1{
    color: #0a0a0a;
    text-align: center;
}
.ficha-contactos{
    width: 50%;
}
.ficha-contactos h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.contactos img{
    
    display: flex;
    float: right;
    padding: 2px;
}

@media(max-width: 992px) {

    /* Tablet */

    .navbar{
        width: 50%;
    }
    .hero p {
        position: absolute;
        width: 30%;
        margin-left: 1%;
        padding-top: 5%;
        text-align: start;
        font-size:20px ;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .hero img{
    
        display: flex;
        float: right;
        margin-right: 50px;
        
    }

    .contactos img{
        width: 50%;
        display: flex;
        float: right;
        padding: 2px;
    }

}
@media(max-width: 576px) {
    
    .navbar{
        width: 50%;
    }
    .nav1 li a{
        font-size: 13px;
        color: aliceblue;
        
    }
    .nav1{
        width: 100%;
        gap: 5px;
    }
    .hero{
        height: 200px;
    }
    .hero p {
        text-align: center;
        width: 90%;
        height: 100px;
        margin-left: 1%;
        padding-top: 5%;
        font-size:18px ;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    .hero img{
        display: none;
    }
    .div2 {
        width: 80%;
    }
    .div2 h3{
        width: 100%;
        text-align: center;
        font-family: 'Lato', sans-serif;
    }
    .div2 p{
        width: 100%;
        text-align: center;
        font-size: 15px;
        font-family: 'Work Sans', sans-serif;
    }
    .main-service{
        height: 1000px;
    }

    .info-card-container{
        gap: 10px;
    }
    .footer{
        width: 100%;
        height: 40px;
        display: flex;
        gap: 20px;
        padding: 10px;
        background-color: #4430a579;
        
    }
    .ficha-contactos{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
    .contactos img{
        display: none;
    }
}
